body {
    background-repeat: repeat-x;
    background-color:black;
}

#container {
    width: 95%;
    margin: 0 auto;

}

#content {

    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    padding: 10px;
    color: #333;
    background-color: #E2DCCD;
    min-height: 438px;
}

header {
    background-color: grey;
    height: 50px;
    color: #FFF;
}

#TopName {
    font-size: 32px
}

#special{
    color: #cf7046;
    text-align: left;

}

#special2 {
    color: #cf7046;
    float: left;
    font-weight:bold;
}

#special3{
    color: #333;
    text-align: center;
    text-decoration: underline;
}
#special4{
    font-size: 24px;
    color: #cf7046;
    text-align: center;
}

h1 {
    font-size: 32px;
    color: #cf7046;
    text-align: center;
}

h2 {
    font-size: 16px;
    color: #cf7046;
    text-align: center;
}

h3 {
    font-size: 14px;
    color: #333;
}

p {
    font-size: 20px;
    text-align: center;
    color: black;
}

.center{
    margin: 0 auto;
    width: 750px;
    height: 500px;
    display: block;
}

.column {
    float: left;
    padding: 5px;
    padding-left:20px
  }

.row::after {
    content: "";
    clear: both;
    display: table;
    display: block;
  }

#imgspecial{
    padding-left: 40px;
}


nav {
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #382e2b;
    padding: 5px;
    height: 50px;
    color: #333;
    text-align: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #cf7046;
    
}
nav a:hover{
    color: #fff;
}
nav li{
    display: inline-block;
    position: relative;
    padding-top: 10px;
    margin: 10px;
}

nav a::before{
    content: '';
    display:block;
    height:5px;
    width:0%;
    background-color:#cf7046;
    position: absolute; 
    top: 0;
    transition: all ease-in-out 250ms;

}

nav a:hover::before{

    width:100%;
}


#toplist {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    text-decoration: none;

}

#bottomlist {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

ul#bottomlist li {
    float: left;
    padding-right: 15px;
    text-decoration: none;
}

ul#bottomlist li a {
    color: #cf7046;
    text-decoration: none;
}

ul#bottomlist li a:hover {
    color: #cf7046;
    background-color: #cf7046;
}

footer {
    background-color: #382e2b;
    padding: 15px;
    height: 25px;
    color: #FFF;
    font-weight: bold;
}

.flexbox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    float:left;
    width: 50px;
    height: 50px;
}